## Supervised Machine Learning - Predicting Credit Risk

#### Prediction:
#####   
##### - I believe that the Logistic Regression will perform better and be more accurate.
#####   
##### - I think this because LR tends to be more accurate with numerical data while Random Forest Classifier is better with categorial data and outliers

In [28]:
# Dependencies 
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [29]:
# Import the data
credit_df = pd.read_csv('Resources/lending_data.csv')
credit_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [30]:
# Checking for Dtypes when working with the data
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77536 entries, 0 to 77535
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_size         77536 non-null  float64
 1   interest_rate     77536 non-null  float64
 2   borrower_income   77536 non-null  int64
 3   debt_to_income    77536 non-null  float64
 4   num_of_accounts   77536 non-null  int64
 5   derogatory_marks  77536 non-null  int64
 6   total_debt        77536 non-null  int64
 7   loan_status       77536 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 4.7 MB

In [31]:
# Create a chart that contains only numeric values
for col in credit_df.columns:
    if credit_df[col].dtype == 'object':
        credit_df[col] = pd.to_numeric(credit_df[col], errors='coerce')

# Drop the loan status column
X = credit_df.drop('loan_status', axis=1)
y = credit_df['loan_status'] != 1

X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [32]:
# Split the data into X_train, X_test, y_train, y_test
train_split = X_train, X_test, y_train, y_test

train_split = train_test_split(X, y, random_state=40)
scaler = StandardScaler().fit(X_train)

# Creating Scaled X_test and X_train
X_test_scaled = scaler.transform(X_test)
X_train_scaled = scaler.transform(X_train)

# Print Results 
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
63243,8900.0,6.893,45500,0.340659,3,0,15500
36991,9000.0,6.932,45800,0.344978,3,0,15800
39985,8900.0,6.896,45500,0.340659,3,0,15500
63047,9000.0,6.961,46100,0.349241,3,0,16100
49913,8400.0,6.712,43800,0.315068,3,0,13800
...,...,...,...,...,...,...,...
6265,10400.0,7.554,51700,0.419729,4,1,21700
54886,9900.0,7.326,49500,0.393939,4,0,19500
76820,18500.0,10.985,84000,0.642857,12,2,54000
860,9500.0,7.174,48100,0.376299,4,0,18100
15795,10100.0,7.432,50500,0.405941,4,1,20500

### Logistic Regression

In [37]:
# Train a Logistic Regression model print the model score
lr_model_score = LogisticRegression(max_iter=1000)
lr_model_score

LogisticRegression(max_iter=1000)

In [38]:
lr_model_score.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

### Random Forest Classifier

In [39]:
#  Train a Random Forest Classifier model and print the model score
rfc_model_score = RandomForestClassifier(random_state=40, n_estimators=1000).fit(X_train_scaled, y_train)

### Printed Results

In [44]:
# Results of Logistic Regression

print("Logistic Regression Scores")
print('------------------------------------------------------')

print(f"Logistic Regression Training Score: {lr_model_score.score(X_train, y_train)}")
print(f"Logistic Regression Testing Score: {classifier.score(X_test, y_test)}")

print('------------------------------------------------------')

print('Random Forest Classifier Scores')

print('------------------------------------------------------')
# Results of Random Forest Classifier 
print(f'Random Forest Classifier Training Score: {rfc_model_score.score(X_train_scaled, y_train)}')
print(f'Random Forest Classifier Testing Score: {rfc_model_score.score(X_test_scaled, y_test)}')

Logistic Regression Scores
------------------------------------------------------
Logistic Regression Training Score: 0.9919177328380795
Logistic Regression Testing Score: 0.9924680148576145
------------------------------------------------------
Random Forest Classifier Scores
------------------------------------------------------
Random Forest Classifier Training Score: 0.9971970009629936
Random Forest Classifier Testing Score: 0.9919521254643004

#### Results
#####    
#####  - As they were close my prediction before conducting the Analysis was incorrect.
#####    
##### - The Random Forest Classifier ended up being slightly better and more accurate.
#####    
##### - I believe with the Loan status category it was an outlier vs the other data and this is what I believe made the RFC more accurate overall. 
#####     
##### - Random Forest Classifier is more of an Accuracy focused algorithm and Random selection can capture more complex feature patterns to provide the best accuracy.